/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Body styles */
.background-img4 {
    background-color: #5885d8;
    background-image:
        radial-gradient(at 61% 4%, rgb(117, 170, 239) 0px, transparent 50%),
        radial-gradient(at 75% 66%, hsla(196, 91%, 79%, 1) 0px, transparent 50%),
        radial-gradient(at 98% 88%, rgb(110, 169, 216) 0px, transparent 50%),
        radial-gradient(at 23% 16%, rgb(137, 138, 164) 0px, transparent 50%),
        radial-gradient(at 95% 65%, rgb(146, 241, 159) 0px, transparent 50%),
        radial-gradient(at 10% 79%, hsla(228, 96%, 69%, 1) 0px, transparent 50%),
        radial-gradient(at 85% 58%, rgb(152, 216, 127) 0px, transparent 50%);
    background-repeat: no-repeat;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15rem 0;
}

.cardr {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 40px;
    
}

.lock-iconr {
    font-size: 3rem;
    color: white;
}

.rh2 {
    font-size: 1.5rem;
    margin-top: 10px;
    text-transform: uppercase;
    color: white;
}

.rp {
    font-size: 15px;
    color: white;
}


.rpassInput {
    margin-top: 15px;
    width: 80%;
    background: transparent;
    border: none;
    border-bottom: 2px solid deepskyblue;
    font-size: 20px;
    color: white;
    outline: none;
}


.rbutton {
    margin-top: 25px;
    width: 80%;
    background-color: deepskyblue;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    align-self: center;
    
}
